div.landing-page {
    text-align: center;
}

div.landing-navbar {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.singup-page-a, .login-page-a, .home-page-a, .products-page-a {
    display: inline-block;
    position: absolute;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #2d41d8;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in;
}

.singup-page-a {
    top: 50px;
    right: 20px;
}

.login-page-a {
    top: 50px;
    right: 160px;
}
.home-page-a {
    top: 50px;
    right: 300px;
}
.products-page-a {
    top: 50px;
    right: 440px;
}
.singup-page-a:hover, .login-page-a:hover, home-page-a:hover, product-page-a:hover {
    background-color: #000000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);

  }